
a,a:hover {
	color: #9011ad;
}

.intro .page-scroll a:hover {
	color: #9011ad;
}

.icon:hover .fa{
	color: #9011ad;
}

ul.nav li a:hover {
	color: #9011ad;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: #9011ad;
}

.bg-skin {
	background: #9011ad;
}


footer {
    background-color: #9011ad;
}

.btn-skin {
  color: #fff;
  background-color: #9011ad;
  border-color: #9011ad;
}
